$bodyBGC: #efefef;
$fontFamiliStile: serif;
$navBorderColor: #cfd8dc;
$toolbarColor: #fc5830;
$articleBGC: white;
$postDescriptionColor: #c9c2be;
$postDescriptionBorderColor: #cfd8dc; 
$postH3Color: #617d8a;
$postPColor: #7d7775;
$aboutH1Color:$toolbarColor; 
$contactFormHColor: $toolbarColor;
$contactFormInputBorderColor:$postDescriptionBorderColor;
$postFormSubmitColor: $toolbarColor;
$footerColor: #8e7b75; 