$bodyBGC: white;
$fontFamiliStile: sans-serif;
$navBorderColor: #617d8a;
$toolbarColor: #1fbcd3;
$articleBGC: #efefef;
$postDescriptionColor: #159587;
$postDescriptionBorderColor: #617d8a; 
$postH3Color: #1697a6;
$postPColor: #757d8a;
$aboutH1Color:$toolbarColor; 
$contactFormHColor: $toolbarColor;
$contactFormInputBorderColor:$postDescriptionBorderColor;
$postFormSubmitColor: $toolbarColor;
$footerColor: #9aa29e; 